html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 20px 0 20px;
    margin-top:40px;
}

.container-login{
    margin-top:0 !important;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.navbar{
    /*background: #fff;*/
    border:0}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.btn-lip{
    border:2px solid #000;
    color:#000;
    border-radius: 0;
    padding:15px 60px;
    margin-right:20px;
    font-weight: bold;
}

.btn-lip:hover{
    background: #ccc;
}

.green, .red{
    display: block;
    text-align: center;
}

.green{color:green}
.red{color:red}

.m{
    display: block;
    text-align: center
}

.m1{background: #33ccff}
.m2{background: #0070c0}
.m3{background: #7030a0}
.m4{background: #92d050}
.m5{background: #00ff00}
.m6{background: #ff99ff}
.m7{background: #ff00ff}
.m8{background: #ffc000}
.m9{background: #ffff00}
.m10{background: #ff0000}
.m11{background: #9966ff}
.m12{background: #bfbfbf}

.badge-success{background: green}
.badge-primary{background:#337ab7}
.badge-warning{background:#f0ad4e}
.badge-danger{background:#d9534f}

.login-header img, .login-header span{
    display: block;
    float: left;
}

.login-header img{
    margin:5px 5px 0 0 ;
}

.app-title{
    color:#66ce07;
    font-style:italic;
    font-size:24px;
    line-height: 1.5em;
}

.site-login{
    margin-top:100px;
}

.site-login .form-control{
    border:0;
    background: #ccc;
}












